* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #7f7cff, #d36aff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background: white;
  width: 350px;
  padding: 20px;
  border-radius: 18px;
}

/* HERO */
.hero {
  text-align: center;
  margin-bottom: 10px;
}

.hero img {
  width: 80px;
  margin-bottom: 5px;
}

.hero p {
  font-size: 14px;
  color: gray;
}

/* Progress */
.progress-box {
  margin: 10px 0;
}

.progress-bar {
  background: #eee;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}

#progressFill {
  height: 100%;
  width: 0%;
  background: #7f7cff;
}

/* Quote */
.quote-box {
  background: #f3f0ff;
  padding: 8px;
  border-radius: 10px;
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px;
}

/* Inputs */
.input-box {
  display: flex;
  margin-bottom: 8px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  margin-left: 8px;
  padding: 0 14px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #7f7cff;
  color: white;
  cursor: pointer;
}

.search {
  width: 100%;
  margin-bottom: 8px;
}

ul {
  list-style: none;
}

li {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 6px;
}

.completed span {
  text-decoration: line-through;
  color: gray;
}

.edit-btn {
  background: orange;
  color: white;
  border: none;
  padding: 4px 6px;
  border-radius: 6px;
  margin-right: 4px;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 4px 6px;
  border-radius: 6px;
}

